/* ----- PERSONALIZED FONTS ----- */
@font-face {
    font-family: 'journalregular';
    src: url('../assets/fonts/journal_regular_macroman/journal-webfont.eot');
    src: url('../assets/fonts/journal_regular_macroman/journal-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/journal_regular_macroman/journal-webfont.woff') format('woff'),
    url('../assets/fonts/journal_regular_macroman/journal-webfont.ttf') format('truetype'),
    url('../assets/fonts/journal_regular_macroman/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----- GENEREAL TAGS ----- */
body{
    text-align: justify;
}

img{
    margin-bottom: 5%;
    width: 100%;
}

h2, h3, h4{
    margin-bottom: 4%;
    text-align: center;
}

p{
    margin: 1em 0;
}

/* ----- HEADER NAV BAR ----- */
li.nav-item button{
    margin : 0 5px;
}

header i{
    margin-right: 5px;
}

/* ----- BANNER TEMPLATE ----- */
#banner img{
    position: relative;
}

#bannerDescription{
    color: white;
    font-family: 'journalregular', sans-serif;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 10px #4673B6;
    top: 40%;
    width: 100%;
}

#bannerDescription h1{
    font-size: 5.5em;
}

#bannerDescription h2{
    font-size: 4em;
}

/* ----- PAGINATION ----- */
.pages{
    margin: 3% 0;
    text-align: center;
}


/* ----- FORM ----- */

.submitButton{
    border-radius: 5px;
    margin-top: 10px;
}

/* ----- LIST POSTS VIEW ----- */
#listPostsWelcome{
    margin-bottom: 8%;
    text-align:center;
}

#authorPresentation{
    font-size: 0.8em;
}

.datePosts{
    text-align: center;
}

.postContent{
    line-height: 1.5em;
    max-height: 8.5em;
    overflow: hidden;
    position: relative;
}

.ellipsis{
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
}

.fill{
    background: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
}

/* ----- POST VIEW ----- */
.post{
    margin: 5% 0;
}

.date{
    font-size: 0.85em;
}

.reportButton{
    margin: auto 0;
}

.comment{
    border-bottom: 1px solid #D3D3D3;
    margin: 1%;
}

.formComment{
    text-align: center;
}

#postAndCommentAdding{
    margin-bottom: 5%;
}

/* ----- ADMIN PAGE ----- */

#addChapter{
    margin-bottom: 5%;
}

.listPostsAdmin{
    border-bottom: 1px solid #D3D3D3;
}

.postsAdmin{
    padding-right: 10px;
}

.iconPostsAdmin{
    margin: 0 auto;
}

/* ----- MEMBER PAGE ----- */
.listCommentsMember{
    border-bottom: 1px solid #D3D3D3;
}

.commentsMember{
    padding-right: 10px;
}

.changeCredentials{
    text-align: center;
}

#deletionAccount{
    text-align: center;
}

#textChangeCredentials{
    text-align: center;
}

#editCommentView{
    text-align: center;
}


/* ===== MEDIA QUERIES ===== */
@media(max-width: 768px){

    #bannerSection{
        margin-bottom: 7%;
    }

    #banner{
        width: 100%;
    }

    #banner img{
        display: none;
        position: static;
    }

    #bannerDescription{
        color: #4E81CC;
        position: static;
        text-shadow: 1px 1px 10px #57677F;
    }

    th, td{
        vertical-align: center;
    }

    #password.changeCredentials{
        padding-top: 20px;
    }

    #deletionAccount{
        padding-top: 20px;
    }
}

@media(max-width: 992px){

    header button.btn.btn-primary{
        margin-top: 1%;
    }

    #bannerDescription{
        top: 22%;
    }
}